@import "media-queries";

$nimbus-sans: "nimbus-sans", sans-serif;
$nimbus-extd: "nimbus-sans-extended", sans-serif;
$nimbus-cond-l: "nimbus-sans-condensed", sans-serif;

@mixin larger-devices() {
  @include respond-above(md) {
    @content;
  }
  @include tablet-portrait() {
    @content;
  }
}

// Common font opacity
$default-opacity: 50%;

@mixin default-alignment-and-spacing {
  letter-spacing: 0em;
  text-align: left;
}

@mixin center-alignment-and-spacing {
  letter-spacing: 0em;
  text-align: center;
}

.display {
  //Style Name: display-mobile
  @include default-alignment-and-spacing;
  font-family: $nimbus-extd;
  font-size: 51px;
  font-style: normal;
  font-weight: 400;
  line-height: 61px;

  @include larger-devices() {
    //Style Name: display
    font-size: 103px;
    line-height: 124px;
  }
}

.subtitle {
  //Style Name: subtitle-mobile
  @include default-alignment-and-spacing;
  font-family: $nimbus-extd;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;

  @include larger-devices() {
    //Style Name: subtitle
    font-size: 17px;
    line-height: 20px;
  }
}

.heading-1 {
  //Style Name: H1-default
  font-family: $nimbus-cond-l;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-align: left;
}

.heading-1-active {
  //Style Name: H1-Active
  font-family: $nimbus-cond-l;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0.02em;
  text-align: left;
}

.heading-2 {
  //Style Name: H2-mobile
  @include default-alignment-and-spacing;
  font-family: $nimbus-cond-l;
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;

  @include larger-devices() {
    //Style Name: H2
    font-size: 25px;
    line-height: 30px;
  }
}

.heading-3 {
  //Style Name: H3-mobile
  @include center-alignment-and-spacing;
  font-family: $nimbus-cond-l;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 17px;

  @include larger-devices() {
    //Style Name: H3
    font-size: 16px;
    line-height: 19px;
  }
}

.body {
  //Style Name: description-mobile
  @include default-alignment-and-spacing;
  font-family: $nimbus-sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;

  @include larger-devices() {
    //Style Name: Description
    font-size: 15px;
    line-height: 18px;
  }
}
