@import "media-queries";
@import "colors";
@import "font-classes";

@mixin large-image {
  width: 620px;
  height: 530px;
  margin: 0;
}

section {
  position: relative;
  display: flex;
  justify-content: center;

  @include respond-above(md) {
    display: block;
  }

  .image {
    position: absolute;
    height: 300px;
    width: 343px;
    opacity: 0;
    margin-top: 42.81px;
    transition: opacity 600ms ease-in;
    color: $white;

    @include respond-above(md) {
      @include large-image;
    }

    @include tablet-portrait {
      @include large-image;
      margin-top: 42.81px;
    }
  }

  .show {
    opacity: 1;
  }

  //Selected item detail styling
  .description {
    @extend .body;
    color: $gold;
    text-align: center;
    margin: 0;

    @include respond-above(md) {
      display: none;
    }
  }
}
