@import "colors";
@import "media-queries";

p {
  margin-top: 16px;

  @include respond-above(md) {
    margin-top: 12px;
  }

  span {
    display: block;
    color: $white;
  }
}

h1 {
  // text-shadow: -0.5px 0.5px 0 red, 0.5px 0.5px 0 red, 0.5px -0.5px 0 red, -0.5px -0.5px 0 red;
  -webkit-text-stroke: 1px $white;
  margin: 0;
}

.red-stroke {
  -webkit-text-stroke: 1px $red;
}
